@font-face {
  font-family: 'Futura';
  src: url(../font/futura-book-font.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Futura';
  src: url(../font/futura-heavy-font.ttf);
  font-style: normal;
  font-weight: bold;
}
