// COLORS
$color-primary: #f15a24;

$color-white: #ffffff;
$color-black: #000000;

$color-user: #252733;
$color-title: #373737;
$color-text: #646464;
$color-bg: #e5e5e5;
$color-border: #dfe0eb;

// SPACE
$letter-spacing-sm: 0.2px;
$letter-spacing-md: 0.3px;
$letter-spacing-lg: 0.4px;
