// Hamburger button
.hamburger {
  display: none; //flex
  position: relative;

  @include respond(tab-port) {
    display: flex;
  }

  &--icon,
  &--icon::before,
  &--icon::after {
    width: 2.5rem;
    height: 3px;
    display: inline-block;
    background-color: $color-white;
  }

  &--icon::before,
  &--icon::after {
    content: '';
    position: absolute;
    left: 0;
    transition: all 0.2s;
  }

  &--icon::before {
    top: -0.7rem;
  }

  &--icon::after {
    top: 0.7rem;
  }

  // Transform button
  &--icon.toggle {
    background-color: transparent;
  }

  &--icon.toggle::before {
    transform: rotate(135deg);
    top: 0;
  }

  &--icon.toggle::after {
    transform: rotate(-135deg);
    top: 0;
  }
}
