h1,
h2,
h3 {
  color: $color-title;
}

h1 {
  font-weight: bold;
  font-size: 6.4rem;
  letter-spacing: $letter-spacing-md;
  margin-left: 3rem;

  @include respond(tab-land) {
    margin-left: 2.5rem;
  }

  @include respond(phone) {
    margin-left: 3.4rem;
  }
}

h2 {
  font-size: 3.2rem;
  margin-left: 1.5rem;
}

h3 {
  font-size: 1.8rem;
  font-weight: normal;
}

h4 {
  font-size: 1.6rem;
  font-weight: normal;
  color: $color-text;
}

h4,
p {
  height: 1.1rem;
}

a:link,
a:visited {
  text-decoration: none;
  color: $color-white;
}
